<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">        
        <title>Notebox</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="top-navbar brdr-man">
            <div class="top-navbar-kid logo-name">
                <span><a href="/notes"><b>Notebox</b></a></span>
            </div>
            
            <div class="top-navbar-kid">
                <span><a href="/notes/cp">CP</a></span>
            </div>

            <div class="top-navbar-kid">
                <span><a href="/notes/ml">ML</a></span>
            </div>

            <div class="top-navbar-kid">
                <span><a href="/notes/qnt">Quantum</a></span>
            </div>

            <div class="top-navbar-kid">
                <span><a href="/notes/acad">Academics</a></span>
            </div>

            <div class="top-navbar-kid note-btn">
                <button><a href="/">Go Code</a></button>
            </div>
        </div>
        
